<div class="row">
	
	<div class="left-container col-md-6">
		<notifcations-list></notifcations-list>
	</div>
	<div class="right-container col-md-6">
		<h2>Current month work 
			<span>
				<button class="btn btn-theme flt-rt" (click)="goTo('today')">Today Sheet</button>
			</span>
		</h2>
		<div class="tuple">
			Last month star Performer : <span class="value text-gradient">NANDHINI</span>
		</div>
		<div class="tuple">
			Files Disbursed : <span class="value">2</span>
		</div>
		<div class="tuple">
			Amount Disbursed : <span class="value">Rs.10,00,000</span>
		</div>
		<div class="tuple">
			Files Inprogress : <span class="value">3</span>
		</div>
		<div class="tuple">
			Target : <span class="value">Rs.1,00,00,000</span>
		</div>
	</div>

</div>